* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

body {
	background: #262161;
	height: 100dvh;
	width: 100dvw;
}

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	align-items: center;
	input {
		border-radius: 0.5rem;
		padding: 0.5rem;
	}
}

.heading {
	text-align: center;
	color: white;
	font-size: 1.75em;
	padding-top: 1.25rem;
	text-decoration: underline 2px;
}

.root {
	display: flex;
	flex-flow: row nowrap;
	gap: 2rem;
	padding: 2rem;
	/* height: 100%; */
}

.root > div {
	border: 8px solid red;
	border-radius: 1rem;
	background: #f7cf4e;
	padding: 0.75rem;
	width: 50%;
}

.input {
	height: 50dvh;
}

.output-area {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}

.sub-heading {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 2fr 0.75fr;
	align-items: center;
	text-decoration: underline 2px;
}

#todo-list {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.75rem;
}

.todo {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 2fr 0.75fr;
	align-items: center;
}

button {
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.footer {
	text-align: center;
	color: white;
	font-size: xx-large;
	padding: 0 3rem;
}